/* You can add global styles to this file, and also import other style files */
.product{
    transition: 0.5s;
}
.product:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.logo{
    opacity: 70%;
}
.logo:hover{
    opacity: 100%;
}
.btn:hover{
    background: rgb(11,191,209);
background: linear-gradient(90deg, rgba(11,191,209,1) 26%, rgba(23,81,159,1) 82%);
color:white;
border: none;
}
.btn{
    border: none;
}